<product
  [prd]="selectedProduct"
  (unSelectEvent)="unSelectProduct()"
  *ngIf="selectedProduct"
></product>

<div *ngIf="products.length > 0; else noProducts">
  <ng-template
    [ngTemplateOutlet]="productList"
    [ngTemplateOutletContext]="{ products: products }"
  ></ng-template>
</div>

<ng-template #productList let-products="products">
  <div *ngFor="let product of products">
    <div *ngIf="product.isActive" class="card mb-3 p-1">
      <div class="row">
        <div class="col-3">
          <img
            src="../../assets/images/{{ product.imageUrl }}"
            alt=""
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-9">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">
              {{ product.description }}
            </p>
            <button
              (click)="selectProduct(product)"
              class="btn btn-primary btn-sm"
            >
              Select Product
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noProducts>
  <div class="alert alert-warning">no products</div>
</ng-template>
